node_modules
dist
demoDist
package-lock.json
playground/temp
yarn.lock
.DS_Store
.vscode
.idea
*.swp
*.tgz
coverage
lib
es
*.tsbuildinfo
pnpm-lock.yaml
web-types.json
~*
.pnpm-debug.log
.history
stats.html