@mixin global {
  .icon-close {
    z-index: 999;
    color: #d36363;
    cursor: pointer;
    margin-right: 8px;
    transition: all .25s ease-in;
    text-align: center;
    line-height: 1;
    font-size: 13px;

    &:hover {
      // color: #fff;
      // background-color: #d36363;
      font-weight: 800;
    }
  }
}