@mixin urlConfigForm {
  padding: 0 15px 15px;
  box-sizing: border-box;

  .inner-item {
    position: relative;
    height: 40px;
    line-height: 40px;

    &-label {
      display: block;
      height: 100%;
      width: 160px;
      text-align: right;
      cursor: pointer;
    }
    &-component {
      position: absolute;
      top: 0;
      left: 180px;
      height: 100%;
      max-width: 1200px;
    }
  }

  .btn-group {
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: right;

    .operate-btn {
      margin-left: 6px;
    }
  }
}
